@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/GothaProBol.otf");
  font-weight: Bold;
  font-display: swap; 
}
@font-face {
  font-family: 'Gotham Regular';
  src: url("../fonts/GothaProReg.otf");
  font-weight: normal;
  font-display: swap; 

}

@font-face {
  font-family: 'Gotham Light';
  src: url("../fonts/GothaProLig.otf");
  font-weight: 300;
  font-display: swap; 

}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/GothaProMed.otf");
  font-weight: Medium;
  font-display: swap; 

}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: white;
	font-family: Gotham Bold;
}
.navbar {
	position: fixed;
	margin: 0;
	top: 0px;
	width: 100%;
	height: 83px;
	background: #E41E11;
	z-index: 9999999999;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	font-family: Gotham Bold;
}
.navbar .logo img {
	height: 70px;
	position: absolute;
	left: 3vw;
	top: 0.6vh;
}
.navlinks a {
	font-size: 22px;
    text-decoration: none;
    color: white;
	padding-inline: 90px;
	background-color: #E41E11;
	display: flex;
    align-items: center; /* Vertically centers the text */
    height: 100%;        /* Forces the background to be exactly 83px */
    box-sizing: border-box; 
}
.navlinks {
	list-style: none;
    position: absolute;
    right: 0px;
    margin: 0;
    display: flex; /* Use flex instead of floats */
    height: 100%;  /* Fill the 83px navbar */
}
.navlinks li {
	display: flex;
    height: 100%;
}
.navlinks a:hover {
	background-color: #9a180f;
}
.highlight {
	color: #E41E11;
	font-family: Gotham Bold;
}
.text-with-bar {
	position: relative;
	display: inline-block;
	padding-top: 20px;
	font-family: Gotham Bold;
	font-size: 98px;
}
.text-with-bar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 8.5px;
	width: 40px;
	height: 15px;
	background-color: #E41E11;
}
.Work {
	width: 100%;
	max-width: none;
	background-color: white;
	position: relative;
	z-index: 10;
	margin-left: 0;
	margin-right: 0;
	padding: 100px 5vw 0px 30vw;;
	box-sizing: border-box;
	margin-bottom: 0px;
	
}

section.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #E41E11;
  z-index: -10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

section.footer .logo img {
  width: 250px;
  margin-bottom: 10px;
}

section.footer ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0px;
}

section.footer ul li a {
  color: white;
  text-decoration: none;
  font-family: Gotham Bold;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
}

section.footer a:hover {
  color: black;
}

.menu-checkbox {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.error-subtitle{
    font-family: Gotham Medium;
    font-size: clamp(20px, 2vw, 50px); /* Fluid typography */
    line-height: 40px;
    padding: 20px;
    margin: 0;
}
.error-text{
    font-family: Gotham Medium;
    font-size: clamp(15px, 1vw, 25px); /* Fluid typography */
    line-height: 40px;
    padding: 20px;
    margin: 0;
}
.mobile-only {
    display: none !important;
}
@media screen and (max-width: 1018px) {
	.mobile-only {
    display: block !important; /* Show the link on mobile */
}
	.menu-checkbox {
		display: none !important;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
	}
	.menu-checkbox {
		display: none !important;
	}
	.hamburger {
		display: flex !important;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
		position: fixed;
		right: 5vw;
		top: 30px;
		z-index: 1000000001;
		cursor: pointer;
	}
	.hamburger span {
		display: block;
		height: 3px;
		width: 100%;
		background-color: white;
		border-radius: 3px;
		transition: 0.3s ease;
	}
	.navbar nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 370px;
		background-color: #E41E11;
		z-index: 1000000000;
		padding-top: 100px;
	}
	.menu-checkbox:checked~nav {
		display: block !important;
	}
	.menu-checkbox:checked+.hamburger span:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	}
	.menu-checkbox:checked+.hamburger span:nth-child(2) {
		opacity: 0;
	}
	.menu-checkbox:checked+.hamburger span:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	}
	.navbar nav {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(6px);
	}
	.navbar {
		z-index: 1000000000 !important;
		height: 100px;
	}
	.navbar .logo {
		display: block;
		position: absolute;
		z-index: 1000000005 !important;
		height: 9000px;
		width: auto;
		top: 10px;
	}
	.navlinks {
		display: flex !important;
		flex-direction: column !important;
		align-items: center !important;
		position: relative !important;
		right: auto !important;
		top: auto !important;
		width: 100% !important;
		padding: 0 !important;
	}
	.navlinks li {
		width: 100%;
		float: none !important;
	}
	.navlinks a {
		display: block !important;
		width: 100% !important;
		padding: 15px 0 !important;
		font-size: 24px !important;
		text-align: center !important;
		background-color: transparent !important;
	}
	.navlinks a:hover {
		color: white !important;
		background-color: #E41E11 !important;
	}
	.video-section {
		position: relative;
		top: 70px;
		width: 100%;
		height: 60vh;
		overflow: hidden;
	}
	.bg-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
  }
	.video-overlay {
		position: absolute;
		top: 50vw;
	}
	
	.grid-container {
		grid-template-columns: repeat(2,2fr) !important;
		gap: 15px;
	}
	.text-with-bar {
		font-size: 48px !important;
	}
	.text-with-bar::before {
		width: 30px;
		height: 10px;
	}
	 .view-projects a{
	display: flex;
	font-size: 3.5vw;
	text-decoration-color: rgb(203, 203, 203);
	text-decoration-thickness: 3px;
	text-underline-offset: 10px
}
	.overlay-text{
     font-size: clamp(10px, 2vw, 13px); /* Fluid typography */
	transform: translate(2%, -200%); /* Centers exactly over the image */
}
.Work{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 150px;
}
}
